@inherits LayoutComponentBase

<div class="header">
    <div class="left">
        <div class="logo">
        </div>
        <div class="operation">
        </div>
    </div>
    <div class="center" id="HeaderCenter">
        <input class="title" id="TopNotoTitle" />
        <div class="tag-area" id="TopTagArea">
            <div class="tag-list">
                <div class="tag">
                    #タグ
                </div>
                <div class="tag">
                    #タグタグ
                </div>
                <div class="tag">
                    #タグタグタグ
                </div>
                <div class="tag">
                    #タグタグタグタグ
                </div>
            </div>
            <div class="add">
            </div>
        </div>
    </div>
    <div class="right">
    </div>
</div>
<div class="content">
    <div class="left">
        <div class="tag-area">
            <input class="browse" placeholder="検索">
            <div class="tag-list">
                <div class="tag">
                    #タグ
                </div>
                <div class="tag">
                    #タグタグ
                </div>
                <div class="tag">
                    #タグタグタグ
                </div>
                <div class="tag">
                    #タグタグタグタグ
                </div>
            </div>
        </div>
        <div class="div">
        </div>
        <div class="add" id="NotoAddBtn">
        </div>
        <div class="noto-list" id="LeftNotoList">
        </div>
    </div>
    <div class="center">
        <div class="tab-list" id="TopTabList">
        </div>
        <div class="editor" contenteditable="true" id="MainEditor">
            @Body
        </div>
    </div>
    <div class="right">
        <div class="icon">
        </div>
        <div class="div">
        </div>
        <div class="noto-list">
            <div class="icon">
            </div>
            <div class="icon">
            </div>
            <div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div><div class="icon"></div>
        </div>
        <div class="bottom-btn">
            Bottom
        </div>
        <div class="div">
        </div>
        <div class="icon">
        </div>
    </div>
</div>
